.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.NavLink {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

.NavLink:hover,
.LogoLink:hover img {
  color: #007bff;
  font-size: 18px;
  text-decoration: none; 
}

.LogoLink:hover img {
  transform: scale(1.1);
}

.Active .NavLink {
  color: #007bff;
}

.Active i {
  color: #000;
}

.LogoLink {
  padding: 0;
}

.ExternalLink {
  margin-left: 20px;
  font-weight: 500;
}

.SpacedLinks {
  gap: 20px;
}

.BoldLink {
  font-weight: bold;
}

.NavBarSpacer {
  height: 60px;
}


