body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  padding-top: 81px;
  flex: 1;
}

.Content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.FillerImage {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.Image {
  max-height: 50vh;
  width: 100%;
  object-fit: contain;
}

a {
  color: #555555;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #000;
}

input[type="file"] {
  display: none;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
  transition: color 0.3s ease-in-out;
}

i:hover {
  cursor: pointer;
  color: #000;
}

figure {
  text-align: center;
  margin: 0;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}